

#game-page{

display: flex;
justify-content: space-evenly;

}


#game-bar{
  
    

}

#game-board{
    height: 640px;
    width: 600px;
    background-color: rgb(73, 84, 148);
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(4,1fr);
}


#game-board .card{
    width: 10rem;
    height:10rem;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.clickme{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
}